
/*?--------CSS RESET------------*/
/*?-----------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
}

/*!------------ Universal Fixes ---------------- */
/*!----------------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--exo);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Color styles (extracted from Figma)*/
:root {
  --white: rgba(239, 239, 239, 1);
  --black: rgba(21, 29, 34, 1);
  --orange: rgba(234, 134, 43, 1);
  --turquoise: rgba(0, 255, 204, 1);
  --turquoise-dark: rgba(52, 183, 167, 1);
  --light-dark: rgba(49, 54, 58, 1);
  --whitetrans: rgba(239, 239, 239, 0.7);
  --blacktrans: rgba(49, 54, 58, 0.8);
  /* Text style */
  --exo: "Exo 2", Arial, sans-serif; /* Fallbacks in-case clamp doesnt work */
  --footertos: 0.875rem;
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.5rem;
  --h5: 1.313rem;
  --bodytext: 1rem;
  --footerbody: 0.875rem;
  --buttontext: 1.125rem;
  /* Other variables */
  --paddington: clamp(45px, 19.344px + 7.1289vw, 122px);
  --paddingless: clamp(15px, -20.6672px + 9.9074vw, 122px); 
} 
@media only screen and (min-width: 768px) { /* Fallbacks in-case clamp doesnt work */
  :root {
    --h1: 3.679rem;
    --h2: 2.519rem;
    --h3: 1.782rem;
    --h4: 1.571rem;
    --h5: 1.383rem;
    --bodytext: 1.125rem;
    --footerbody: 1rem;
    --buttontext: 1.25rem;
  }
}
@media only screen and (min-width: 1368px) { /* Fallbacks in-case clamp doesnt work */
  :root {
    --h1: 5.625rem;
    --h2: 3.375rem;
    --h3: 2.25rem;
    --h4: 1.688rem;
    --h5: 1.5rem;
  }
}
@supports (font-size: clamp(1rem, 2vw, 3rem)) {
  :root {
  --h1: clamp(2.5rem, 1.4583rem + 4.6296vw, 5.625rem); /* Linear scaling from 40px to 90px */
  --h2: clamp(2rem, 1.5417rem + 2.0370vw, 3.375rem); /* from 32px to 54px */
  --h3: clamp(1.5rem, 1.2500rem + 1.1111vw, 2.25rem); /* from 24px to 36px */
  --h4: clamp(1.5rem, 1.4373rem + 0.2785vw, 1.688rem); /* from 24px to 27px */
  --h5: clamp(1.313rem, 1.2507rem + 0.2770vw, 1.5rem); /* From 21px to 24px */
  --bodytext: clamp(1rem, 0.8897rem + 0.4902vw, 1.125rem); /* from 16px to 18px */
  --footerbody: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem); /* from 14px to 16px */
  --buttontext: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem); /* from 18px to 20px */
  }
}

/*? Font Styling */

h1 {
  font-size: var(--h1);
  font-weight: 800;
  line-height: 82.69%;
}

h1 > span {
  display: block;
  letter-spacing: 0.045em;
}
h2 {
  font-size: var(--h2);
  font-weight: 800;
}
h3 {
  font-size: var(--h3);
  font-weight: 700;
}
h4 {
  font-size: var(--h4);
  font-weight: 700;
}
h5 {
  font-size: var(--h5);
  font-weight: 600;
}
a {
  color: inherit;
  font-size: var(--buttontext);
  font-weight: 600;
}
span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.buttontext {
  font-size: var(--buttontext);
  font-weight: 700;
  line-height: 160%;
}
p {
  font-size: var(--bodytext);
  font-weight: 400;
  line-height: 166.7%;
}
.footerbody {
  font-size: var(--footerbody);
}
h1, h2, h3, h4, h5, .buttontext {
  letter-spacing: 0.02em;
}
/*? Universal Components */
/* To align content along the same linearly scaling margin*/
.section-container {
  padding: 0 15px; /* Fallback for Firefox Android & Opera Android */
  padding: 0 var(--paddingless); 
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
/* Buttons */
.cta {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Fallback for Firefox Android & Opera Android */
  padding: clamp(10px, 8.3328px + 0.4630vw, 15px) 20px;
}
.cta--turq {
  background-color: var(--turquoise);
}
.cta--turq i {
  margin-left: 20px;
}
.cta--orange {
  background-color: var(--orange);
}

/*!----------HEADER------------*/
header {
  background-color: var(--black);
  width: 100vw;
}
.navblock {
  padding: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}
.navblock__logo {
  height: 27.59px; /* Fallback for Firefox Android & Opera Android */
  height: clamp(27.59px, 19.344px + 2.1289vw, 50px);
  width: auto;
}
.navblock__logowrap, .navblock__dropdown {
  padding: clamp(24.21px, 1vw, 36.5px) var(--paddingless);
  
}
.navblock__list {
  flex-basis: 100%;
  flex-flow: column;
}
.navblock__list li {
  display: inline-block;
}
.navblock__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 0px #31363A;
  padding: 30px var(--paddington);
}
.navblock__button > i {
}


/* Dropdown menu checkbox hack */
.navblock__dropdown {
  padding-right: var(--paddington);
  font-size: clamp(27.59px, 19.344px + 2.1289vw, 50px);
  cursor: pointer;
}
#hamburger {
  display: none;
}
.navblock__list {
  display: none;
  border-top: 3px solid var(--light-dark);
}
#hamburger:checked ~ .navblock__list {
  display: flex;
}


/*!------------MAIN-------------*/

.herobanner {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "hero";
}
.herobanner--home .herobanner__imagewrap {
  height: 513px; /* Fallback for Firefox Android & Opera Android */
  height: clamp(513px, 380.5872px + 36.7704vw, 910px);
  grid-area: hero;
}
.herobanner__gradient { /* To position gradient over image */
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.herobanner__gradient::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(180deg, rgba(13, 19, 23, 0.1) 0%, #0D1317 100%);
}
.herobanner--home .herobanner__image {
  object-fit: cover;
  object-position: 70% 20%;
  height: 100%;
  width: 100%;
}

.herobanner__textblock {
  padding: 45px; /* Fallback for Firefox Android & Opera Android */
  padding: 0 var(--paddington);
  margin-top: 145px; /* Fallback for Firefox Android & Opera Android */
  margin-top: clamp(145px, 73.344px + 19.9067vw, 360px); /* With this top margin and bodytext bottom margin, the button will maintain        */
  display: flex;                                          /* its distance from the bottom, scaling from 88px>120px.                           */ 
  flex-flow: column;                                      /* This button is the one exception to my otherwise strict setup of margins/padding.*/
  align-items: baseline;                                  /* This is due to image and text alignment. Couldn't have it both ways.             */
  color: var(--white);
  grid-area: hero;
  z-index: 9999;
}
.herobanner__title--home {
  margin-bottom: 15px; /* Fallback for Firefox Android & Opera Android */
  margin-bottom: clamp(15px, 3.3328px + 3.2407vw, 50px);
}
.herobanner__bodytext {
  font-size: var(--bodytext);
  margin-bottom: 60px; /* Fallback for Firefox Android & Opera Android */
  width: 270px; /* Fallback for Firefox Android & Opera Android */
  margin-bottom: clamp(60px, 46.6672px + 3.7037vw, 100px);
  width: clamp(270px, 143.7872px + 35.0815vw, 649px);
}
.herobanner__cta {
  margin-bottom: auto;
}