/*!------------ Universal Fixes ---------------- */
/*!----------------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Color styles (extracted from Figma)*/
:root {
  --white: rgba(239, 239, 239, 1);
  --black: rgba(13, 19, 23, 1);
  --orange: rgba(234, 134, 43, 1);
  --turquoise: rgba(0, 255, 204, 1);
  --turquoise-dark: rgba(52, 183, 167, 1);
  --light-dark: rgba(49, 54, 58, 1);
  --whitetrans: rgba(239, 239, 239, 0.7);
  --blacktrans: rgba(49, 54, 58, 0.8);
  /* Text style */
  --exo: "Exo 2", Arial, sans-serif;
  --footertos: 0.875rem;
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.5rem;
  --h5: 1.313rem;
  --bodytext: 1rem;
  --footerbody: 0.875rem;
  --buttontext: 1.125rem;
} 
@media only screen and (min-width: 768px) {
}
@supports (font-size: clamp(1rem, 2vw, 3rem)) {
  :root {
  --h1: clamp(2.5rem, 1.4583rem + 4.6296vw, 5.625rem); /* Linear scaling from 40px to 90px */
  --h2: clamp(2rem, 1.5417rem + 2.0370vw, 3.375rem); /* from 32px to 54px */
  --h3: clamp(1.5rem, 1.2500rem + 1.1111vw, 2.25rem); /* from 24px to 36px */
  --h4: clamp(1.5rem, 1.4373rem + 0.2785vw, 1.688rem); /* from 24px to 27px */
  --h5: clamp(1.313rem, 1.2507rem + 0.2770vw, 1.5rem); /* From 21px to 24px */
  --bodytext: clamp(1rem, 0.8897rem + 0.4902vw, 1.125rem); /* from 16px to 18px */
  --footerbody: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem); /* from 14px to 16px */
  --buttontext: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem); /* from 18px to 20px */
  }
}



h1 {
  font-family: var(--exo);
  font-size: var(--h1);
  font-weight: 800;
  color: var(--black);
  line-height: 82.69%;
  letter-spacing: 0.02em;
}

h1 > span {
  display: block;
  letter-spacing: 0.045em;
}
h2 {
  font-family: var(--exo);
  font-size: var(--h2);
  font-weight: 800;
  letter-spacing: 0.02em;
}
h3 {
  font-family: var(--exo);
  font-size: var(--h3);
  font-weight: 700;
  letter-spacing: 0.02em;
}
h4 {
  font-family: var(--exo);
  font-size: var(--h4);
  font-weight: 700;
  letter-spacing: 0.015em;
}
.page-container {
  margin: 0 auto 0 auto;
  width: 100vw;
  max-width: 1440px;
}

.content-container {
  padding: 0 clamp(15px, -1.2917rem + 9.9074vw, 122px) 0;
}

/*!----------HEADER------------*/
nav {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > img {
  height: clamp(27.59px, 6.51vw, 50px);
  width: auto;
}

/*!------------MAIN-------------*/
.herowrap {
  height: clamp(438px, 17.5467rem + 43.7037vw, 910px);
  width: 100%;
  max-width: 1440px;
}
.imagegradient {
  position: relative;
  display: inline-block;
}
.imagegradient::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(180deg, rgba(13, 19, 23, 0.1) 0%, #0D1317 100%);
}
.herobanner {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
