/*?--------CSS RESET------------*/
/*?-----------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
}

/*!------------ Universal Fixes ---------------- */
/*!----------------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--exo);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--black);
}
/* Color styles (extracted from Figma)*/
:root {
  --white: rgba(239, 235, 235, 1);
  --whiter: rgba(239, 239, 239, 1);
  --black: rgba(21, 29, 34, 1);
  --orange: rgba(234, 134, 43, 1);
  --turquoise: rgba(0, 255, 204, 1);
  --turquoise-dark: rgba(52, 183, 167, 1);
  --light-dark: rgba(49, 54, 65, 1);
  --whitetrans: rgba(239, 235, 235, 0.7);
  --blacktrans: rgba(49, 54, 58, 0.8);
  /* Text style */
  --exo: "Exo 2", Arial, sans-serif; /* Fallbacks in-case clamp doesnt work */
  --footertos: 0.875rem;
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.5rem;
  --h5: 1.313rem;
  --bodytext: 1rem;
  --footerbody: 0.875rem;
  --buttontext: 1.125rem;
  /* Padding variables */
  --paddington: 45px; /* Fallbacks for clamp variables */
  --paddingless: 15px; /* -------=====-------*/
  --iconpadding: 15px; /* -------=====-------*/
  --whitespace: 60px;  /* -------=====-------*/
  --sectiontitle: 30px;/* -------=====-------*/
  --paddington: clamp(45px, 19.344px + 7.1289vw, 122px);
  --paddingless: clamp(15px, -20.6672px + 9.9074vw, 122px);
  --iconpadding: clamp(15px, -2.6672px + 4.9074vw, 68px);
  --whitespace: clamp(60px, 15px + 12.5vw, 120px);
  --sectiontitle: clamp(30px, -43.8464px + 7.2115vw, 60px);
  /* Shadow variables */
  --headershadow: 0px 5.65789px 4.52632px rgba(0, 0, 0, 0.5);
  --boxshadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 768px) {
  /* Fallbacks in-case clamp doesnt work */
  :root {
    --h1: 3.679rem;
    --h2: 2.519rem;
    --h3: 1.782rem;
    --h4: 1.571rem;
    --h5: 1.383rem;
    --bodytext: 1.125rem;
    --footerbody: 1rem;
    --buttontext: 1.25rem;
  }
}
@media only screen and (min-width: 1368px) {
  /* Fallbacks in-case clamp doesnt work */
  :root {
    --h1: 5.625rem;
    --h2: 3.375rem;
    --h3: 2.25rem;
    --h4: 1.688rem;
    --h5: 1.5rem;
  }
}
@supports (font-size: clamp(1rem, 2vw, 3rem)) {
  :root {
    --h1: clamp(2.5rem, 1.4583rem + 4.6296vw, 5.625rem); /* Linear scaling from 40px to 90px */
    --h2: clamp(2rem, 1.5417rem + 2.037vw, 3.375rem); /* from 32px to 54px */
    --h3: clamp(1.5rem, 1.25rem + 1.1111vw, 2.25rem); /* from 24px to 36px */
    --h4: clamp(1.5rem, 1.4373rem + 0.2785vw, 1.688rem); /* from 24px to 27px */
    --h5: clamp(1.313rem, 1.2507rem + 0.277vw, 1.5rem); /* From 21px to 24px */
    --bodytext: clamp(1rem, 0.8897rem + 0.4902vw, 1.125rem); /* from 16px to 18px */
    --footerbody: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem); /* from 14px to 16px */
    --buttontext: clamp(1.125rem, 1.0833rem + 0.1852vw, 1.25rem); /* from 18px to 20px */
  }
}

/*? Font Styling */

h1 {
  font-size: var(--h1);
  font-weight: 800;
  line-height: 82.69%;
  text-shadow: var(--headershadow);
}

h1 > span {
  display: block;
  letter-spacing: 0.045em;
}
h2 {
  font-size: var(--h2);
  font-weight: 800;
}
h3 {
  font-size: var(--h3);
  font-weight: 700;
  line-height: 100%;
}
h4 {
  font-size: var(--h4);
  font-weight: 700;
  line-height: 100%;
}
h5 {
  font-size: var(--h5);
  font-weight: 600;
}
a {
  color: inherit;
}
.links {
  color: var(--orange);
  font-size: var(--buttontext);
  font-weight: 600;
}
span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.buttontext, .cta {
  font-size: var(--buttontext);
  font-weight: 700;
  line-height: 160%;
}
p {
  font-size: var(--bodytext);
  font-weight: 400;
  line-height: 166.7%;
}
.footerbody {
  font-size: var(--footerbody);
}
h1,
h2,
h3,
h4,
h5,
.buttontext, .cta, .links {
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
/*? Universal Components */

/* To align content along the same linearly scaling margin*/
.fullwidth {
  width: 100vw;
}
.section-container {
  padding: 0 var(--paddingless);
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
.sectiontitle {
  color: var(--whiter);
  padding: var(--sectiontitle) 0;
  text-shadow: var(--headershadow);
}
/* Buttons */
.cta {
  color: var(--black);
  display: flex;
  border-radius: 3px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Fallback for Firefox Android & Opera Android */
  padding: clamp(10px, 8.3328px + 0.463vw, 15px) 20px;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
.cta--turq {
  background-color: var(--turquoise);
}
.cta--turq .fas {
  margin-left: 20px;
  transition: transform 250ms ease-in-out;
}
.cta--orange {
  background-color: var(--orange);
}
.cta--turq:hover, .cta--turq:focus {
  background-color: var(--black);
  color: var(--whiter);
  border-bottom: 3px solid var(--whiter);
}
.cta--turq:hover .fas,
.cta--turq:focus .fas {
  transform: translateX(5px);
}
.cta--orange:hover, .cta--orange:focus {
  background-color: rgba(234, 134, 43, 0.6);
  text-decoration: underline;
}
/* Links */
.links {
  display: flex;
  line-height: 100%;
  align-items: baseline;
  color: var(--orange);
}
.links .fas {
  margin-left: 7px;
  font-size: calc(var(--buttontext) - 0.1875rem);
  transition: transform 250ms ease-in-out;
}
.links:hover,
.links:focus {
  color: var(--white);
}
.links:hover .fas,
.links:focus .fas {
  transform: translateX(10px);
  transition: transform 250ms ease-in-out;
}
/*!----------HEADER------------*/
header {
  background-color: var(--black);
  z-index: 2;
}
.navblock {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--whiter);
}
.navblock__logo {
  height: 28px; /* Fallback for Firefox Android & Opera Android */
  height: clamp(28px, 19.344px + 2.1289vw, 50px);
  width: auto;
}
.navblock__logowrap::after {
  content: "";
  background-color: var(--white);
  height: 3px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 500ms ease-in-out;
}
.navblock__logowrap:hover::after,
.navblock__logowrap:focus::after {
  transform: scale(1, 1);
}
.navblock__logowrap, .navblock__dropdown {
  margin: 24px 15px; /* Fallback for Firefox Android & Opera Android */
  margin: clamp(23px, 1vw, 36.5px) var(--iconpadding);
}



/* Dropdown menu checkbox hack stuff */
.navblock__toggle,
.navblock__cross {
  display: none;
}
@media only screen and (max-width: 1023px) {
  /* Keeping this in a media query since checkbox hack requires high specificity selectors and DRY i guess*/
  .navblock__relative {
    position: relative;
    width: 100%; /* Essential to keep block anchored below */
  }
  .navblock__absolute {
    position: absolute;
    z-index: 2;
    top: 0;
    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
  }
  .navblock {
    position: relative;
    flex-flow: wrap;
  }
  .navblock__list {
    transform: scale(1, 0); /* Rather than using display:none, I'm using transform to allow for transition */
    background: var(--black);
    border-top: 3px solid var(--light-dark);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
    height: 100%;
    position: relative; /* Using positioning to make the menu overlap site content and not shuffle things around */
    width: 100vw;
  }
  .navblock__button {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--light-dark);
    padding: 30px 45px; /* Fallback for Firefox Android & Opera Android */
    padding: 30px var(--paddingless) 30px var(--paddington);
    opacity: 0;
    transition: opacity 150ms ease-in-out; /* Transition for text fading out, so it happens immediately */
  }
  .navblock__button:hover,
  .navblock__button:focus {
    /* Useless since hover wouldnt work on mobile anyway. Just in case someone is viewing this on a pc */
    background-color: var(--light-dark);
    border-bottom: 2px solid var(--white);
  }
  .navblock__dropdown {
    position: relative;
    font-size: 30px; /* Fallback for Firefox Android & Opera Android */
    font-size: clamp(27.59px, 19.344px + 2.1289vw, 50px);
    cursor: pointer; /* This is just for me, obviously not gaining anything on touchscreens here */
  }
  .navblock__cross {
    display: inline-block;
    position: absolute; /* To position it on top of the bars */
    line-height: 100%;
    top: 4px;
    left: 1px; /* To center on the bars */
    right: 0;
  }
  .navblock__cross::selection {
    /* So you can't highlight the cross */
    background: transparent;
  }
  .navblock__button > .fas {
    margin-left: auto; /* Rather than space-between, doing it like this makes the content behave properly when it is shrunk */
  }
.navblock__toggle:checked ~ .navblock__relative .navblock__absolute {
  transform: scale(1);
}
  .navblock__toggle:checked ~ .navblock__dropdown .navblock__cross,
  .fa-bars {
    transform: scale(1);
    transition: transform 400ms ease-in-out, opacity 10ms ease-in-out 150ms; /* Transition for icon when it appears */
    opacity: 1;
  }

  .navblock__toggle:checked ~ .navblock__dropdown .fa-bars,
  .navblock__cross {
    transform: scale(0);
    opacity: 0; /* So they fade in/out without clipping eachother */
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out; /* Transition for icon when it disappears */
  }
  .navblock__toggle:checked ~ .navblock__relative .navblock__list {
    transform: scale(1);
  }
  .navblock__toggle:checked ~ .navblock__relative .navblock__button {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms; /* The transition for when text fades in, with delay to avoid the text being visibly squeezed */
  }
}
@media only screen and (min-width: 1023px) {
  /* And since I'm using media queries for checkbox, I have to use another one here so I don't affect them */
  .navblock__dropdown,
  .navblock__button .fas {
    /* Removing hamburger and the button icons */
    display: none;
  }
  .navblock__relative,
  .navblock__absolute {
    width: 100%;
    height: 100%;
  }
  .navblock__relative {
    margin-right: var(--paddingless);
  }
  .navblock__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navblock__logowrap {
    margin-right: clamp(80.78px, -286.6704px + 35.8077vw, 230px); /* Just to have the menu items more on the left on  */
  } /* wider screens and still allow space-between to regulate spacing*/
  .navblock__button {
    position: relative;
  }
  .navblock__button span::after {
    content: "";
    display: block;
    background: var(--white);
    position: relative;
    height: 3px;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 350ms ease-in-out;
  }
  .navblock__button:hover span::after {
    transform: scale(1, 1);
  }
}
/*!------------MAIN-------------*/
/** Hero image section styling */

.herobanner {
  display: grid;
  grid-template-areas: "hero";
}
@media only screen and (min-width: 1024px) {
  /* Undoing the above as positioning is not needed on header */
  .herobanner {
    margin-top: 0 auto;
  }
}
.herobanner--home .herobanner__imagewrap {
  height: 513px; /* Fallback for Firefox Android & Opera Android */
  height: clamp(513px, 380.5872px + 36.7704vw, 910px);
  grid-area: hero;
}
.herobanner__gradient {
  /* To position gradient over image */
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.herobanner__gradient::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(180deg, rgba(13, 19, 23, 0.1) 0%, #0d1317 100%);
}
.herobanner--home .herobanner__image {
  object-fit: cover;
  object-position: 70% 20%;
  height: 100%;
  width: 100%;
}

.herobanner__textblock {
  padding: 45px; /* Fallback for Firefox Android & Opera Android */
  padding: 0 var(--paddington);
  margin-top: 145px; /* Fallback for Firefox Android & Opera Android */
  margin-top: clamp(145px, 73.344px + 19.9067vw, 360px); /* With this top margin and bodytext bottom margin, the button will maintain        */
  display: flex; /*                                         its distance from the bottom, scaling from 88px>120px.                           */
  flex-flow: column; /*                                     This button is the one exception to my otherwise strict setup of margins/padding.*/
  align-items: baseline; /*                                 This is due to image and text alignment. Couldn't have it both ways.             */
  color: var(--whiter);
  grid-area: hero;
  z-index: 1;
}
.herobanner__title--home {
  margin-bottom: 15px; /* Fallback for Firefox Android & Opera Android */
  margin-bottom: clamp(15px, 3.3328px + 3.2407vw, 50px);
}
.herobanner__bodytext {
  font-size: var(--bodytext);
  margin-bottom: 60px; /* Fallback for Firefox Android & Opera Android */
  width: 270px; /* Fallback for Firefox Android & Opera Android */
  margin-bottom: clamp(60px, 46.6672px + 3.7037vw, 100px);
  width: clamp(270px, 143.7872px + 35.0815vw, 649px);
}
.herobanner__cta {
  margin-bottom: auto;
}

/** Infobanner styling */
.infobanner {
  position: relative;
  z-index: 2;
  width: 100vw;
  background: var(--light-dark);
  color: var(--whiter);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.infobanner__flexbox {
  padding: 60px var(--paddingless) 60px clamp(15px, -2.6672px + 4.9074vw, 68px);
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.infobanner__flexbox > * {
  flex-grow: 1;
  flex-basis: calc((668px - 100%) * 999); /* Flexbox Holy Albatross by Heydon Pickering. Container Query Hack */
}
.infobanner__block {
  display: flex;
  align-items: flex-start;
}
.infobanner__block--opening {
  max-width: 300px; /* Fallback for Firefox Android & Opera Android */
  max-width: clamp(300px, -86.3632px + 37.7308vw, 350px);
  margin-right: var(--whitespace);
}
.infobanner__textblock {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.infobanner__block--entry,
.infobanner__block--opening {
  margin-bottom: 30px;
}
.infobanner__textblock--opening {
  margin-right var(--whitespace);
  align-items: stretch;
}
.infobanner__lists {
  display: flex;
  justify-content: space-between;
}
.infobanner__days > *,
.infobanner__hours > * {
  font-size: var(--bodytext);
  margin-bottom: 15px; /* Fallback for Firefox Android & Opera Android */
  margin-bottom: clamp(0.9375rem, 0.7083rem + 1.0185vw, 1.625rem);
  line-height: 100%;
}
.infobanner__days {
  font-weight: 600;
}
.infobanner__hours {
  text-align: right;
  font-weight: 400;
  color: var(--whitetrans);
}
.infobanner__days li:nth-child(4),
.infobanner__hours li:nth-child(4) {
  margin-bottom: 0;
}
.infobanner__title {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}
.infobanner__textblock--opening .infobanner__title {
  margin-bottom: 15px; /* Fallback for Firefox Android & Opera Android */
  margin-bottom: clamp(15px, 11.2496px + 1.0417vw, 20px);
  /* Using a different margin here as it gives better overall symmetry. */
}
.infobanner__icon {
  text-align left !important; /* To overrule FA-FW's inline text-align: center */
  flex-shrink: 0;
  margin-right: 5px; /* Fallback for Firefox Android & Opera Android */
  font-size: 1.563rem; /* Fallback for Firefox Android & Opera Android */
  margin-right: clamp(0rem, -3.3328px + 0.9259vw, 10px);
  color: var(--turquoise-dark);
  font-size: clamp(1.563rem, 0.0245rem + 2.4038vw, 2.188rem); /* 25px to 35px */
}

/* Multicolumn Cards */

.multicol--events {
  width: 100vw;
  position: relative;
  z-index: 1;
  background: var(--black);
  color: var(--black);
}
.multicol__wrap {
  background: var(--black);
}
.multicol__outerflex {
  padding: 60px 0 var(--whitespace); /* Vertical padding from 60px to 120px */
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.multicol__cardslist {
  display: flex;
  flex-wrap: wrap;
  margin: calc(15px * -1);
}
.multicol__card {
  border-radius: 3px;
  flex-grow: 1;
  flex-basis: calc((780px - 100%) * 999);
  margin: 15px;
  min-width: 330px;
  background-color: var(--white);
  box-shadow: var(--boxshadow);
}
.multicol__imgwrap {
  width: 100%;
  height: 291px;
}
.multicol__img {
  width: 100%;
  height: 291px;
  object-fit: cover;
  object-position: 50% 40%;
  border-radius: 3px 3px 0 0;
}
.multicol__card--1 .multicol__img {
  object-position: 50% 20%;
}
.multicol__cardtext {
  display: flex;
  flex-flow: column;
  padding: 30px clamp(20px, 35px + -1.3889vw, 30px); /* With negative vw units I make it go from 30px at mobile to 15px on desktop */
}
.multicol__cardtitle {
  margin-bottom: 15px;
}
.multicol__cardbody {
  line-height: 155.6%;
  max-width: 85ch;
}
.multicol__cardbody p:nth-of-type(2) {
  margin-top: 15px;
}


/* Singlecolumn Cards */

.singlecol--explore {
  padding: 60px 0 var(--whitespace);
  position: relative;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.singlecol--explore::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 500px;
  background: url(../images/explorebanner-2159w.jpg) no-repeat top center;
  background-size: cover;
}
.singlecol--explore::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgba(21, 29, 34, 0.1) 0%, #151D22 13.5%, #313641 100%);
}

.singlecol__container {
  position: relative;
  z-index: 3;
}
.singlecol__header span {
  white-space: nowrap;
}
.singlecol__card {
  color: var(--black);
  display: flex;
  flex-wrap: wrap;
}
.singlecol__card > * {
  flex-grow: 1;
  flex-basis: calc((800px - 100%) * 999);
}
.singlecol__card--1, .singlecol__card--2 {
  margin-bottom: 30px;
}
.singlecol__cardtext {
  background-color: var(--white);
  padding: 30px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.singlecol__cardbody p {
  margin-top: 15px;
}
.singlecol__button {
  margin-top: 60px;
}
.singlecol__imgwrap {
  max-height: 291px;
}
.singlecol__imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}
.singlecol__imgwrap--forkids img {
  height: 291px;
  object-position: 90%;
  transform: scaleX(-1);
}

@media only screen and (min-width: 945.5px) {
  .singlecol__imgwrap {
    max-height: 100%;
  }
  
  .singlecol__imgwrap--forkids, .singlecol__cardtext {
    flex-basis: 49.3311036789%;
    max-width: 590px;
  }
  .singlecol__imgwrap--forkids img {
    height: 100%;
    transform: scaleX(1);
  }
  .singlecol__cardtext--1,
  .singlecol__imgwrap--right {
    order: 1;
    flex-basis: 50.5852842809%;
    max-width: 605px;
  }
}

/* Footer styling */

.footer {
  position: relative;
  z-index: 2;
  background-color: var(--black);
  color: var(--white);
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.25);
}
.footer__container {
  padding: 60px var(--paddingless) 10px;
}
.footer__top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.footer__topblock {
  min-width: clamp(0px, (750px - 100%) * 999, 100%); /* Unholy Albatross, by Xiao Zhuo Jia */
  display: flex;
  flex-basis: 50%;
  margin-bottom: 30px;
  align-items: flex-start;
}
.footer__flexitem {
  display: flex;
  margin-right: auto; /* This is only for flexitem--involved and --opening */
  flex-grow: 1; /* To keep items within columns equal */
  max-width: clamp(10.44rem, 9.9600rem + 2.1333vw, 11.88rem); /* To center */
  flex-flow: column; 
}
.footer__flexitem--follow, .footer__flexitem--location {
  max-width: clamp(117.008px, 6.9797rem + 1.4815vw, 133.008px);
  margin-left: auto;
  margin-right: clamp(46px, -0.3025rem + 14.1221vw, 120px);
}
.footer__timelist {
  max-width: clamp(10.44rem, 9.9600rem + 2.1333vw, 11.88rem); /* To keep the lists contained under title */
}
.footer__timelist {
  font-size: var(--footerbody);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__list > * {
  margin-bottom: 7px;
  font-weight: 500;
}
.footer__list--hours {
  text-align: right;
  font-weight: 400;
  color: var(--whitetrans);
}
.footer__address {
  font-weight: 500;
  font-size: var(--footerbody);
}
.footer__title, .footer__address {
  margin-bottom: 15px;
}
.footer__title ~ *, .footer__link {
  line-height: 160%;
}
.footer__link {
  letter-spacing: 0;
  font-size: var(--bodytext);
  font-weight: 500;
  text-transform: capitalize;
}
.footer__link:hover, .footer__link:focus {
  text-decoration: underline;
}

.footer__social {
  display: flex;
  align-items: flex-start;
  font-size: clamp(1.688rem, 1.5213rem + 0.7407vw, 2.188rem);
  color: var(--turquoise-dark);
}
.footer__social .fab:hover, .footer__social .fab:focus {
 color: var(--turquoise);
} 
.footer__social .fab:hover::after, .footer__social .fab:focus::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  position: relative;
  background-color: var(--turquoise);
}
.footer__social > * {
  margin-right: 20px;
}
.footer__social > span:nth-of-type(3) {
  margin-right: 0;
}
.footer__bottom {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.footer__policytos {
  font-size: var(--footertos);
  font-weight: 400;
  line-height: 100%; 
  display: flex;
  margin-bottom: 25px;
}
.footer__copyright {
  font-size: 0.6875rem;
  font-weight: 300;
  color: var(--whitetrans);
}
.footer__tinylink:nth-of-type(2) {
  padding: 0 45px;
}
.footer__tinylink:hover, .footer__tinylink:focus {
  text-decoration: underline;
}
.footer__line {
  height: 2px;
  background-color: var(--light-dark);
  width: 100%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 883.5px) {
.footer__topblock--1 {
  flex: none;
  margin-left: auto;
}
.footer__topblock--2 {
  flex: none;
  margin-right: auto;
}
.footer__flexitem {
  flex-grow: 0;
  margin: 0 clamp(30px, -3.0935rem + 8.9928vw, 80px) 0 0;
}
.footer__flexitem--opening {
  margin-right: 0;
}
.footer__flexitem--location {
  max-width: clamp(110px, 100px + 1vw, 115px);
}

}


